In [1]:
# import dependecies
import pandas as pd
import numpy as np

### Extract the dataset files for:
- AQI.csv
- Natural_Gas_Consumption_Data.csv

In [27]:
aqi_df = pd.read_csv('static/Resources/aqi.csv')
aqi_df.head()

,Date,Unnamed: 0,CBSA Code,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_id,state_name,lat,lng,population,density,timezone
0,2021-01-01,26065,10100,43,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago
1,2021-01-02,26066,10100,35,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago
2,2021-01-03,26067,10100,55,Moderate,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago
3,2021-01-04,26068,10100,7,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago
4,2021-01-05,26069,10100,12,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago

In [28]:
aqi_df.shape

(166633, 15)

In [33]:
aqi_df['Date'] = pd.to_datetime(aqi_df['Date'])
aqi_df['YearMonth'] = aqi_df['Date'].dt.to_period('M')

aqi_df.head(20)

,Date,Unnamed: 0,CBSA Code,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_id,state_name,lat,lng,population,density,timezone,YearMonth
0,2021-01-01,26065,10100,43,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
1,2021-01-02,26066,10100,35,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
2,2021-01-03,26067,10100,55,Moderate,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
3,2021-01-04,26068,10100,7,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
4,2021-01-05,26069,10100,12,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
5,2021-01-06,26070,10100,23,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
6,2021-01-07,26071,10100,64,Moderate,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
7,2021-01-08,26072,10100,55,Moderate,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
8,2021-01-09,26073,10100,38,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
9,2021-01-10,26074,10100,7,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
10,2021-01-11,26075,10100,15,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
11,2021-01-12,26076,10100,15,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
12,2021-01-13,26077,10100,12,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
13,2021-01-14,26078,10100,22,Good,PM10,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
14,2021-01-15,26079,10100,5,Good,PM10,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
15,2021-01-16,26080,10100,16,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
16,2021-01-17,26081,10100,8,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
17,2021-01-18,26082,10100,21,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
18,2021-01-19,26083,10100,17,Good,PM2.5,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01
19,2021-01-20,26084,10100,13,Good,PM10,1,Aberdeen,SD,South Dakota,45.4649,-98.4686,28315.0,661.0,America/Chicago,2021-01

In [39]:
#aggregating air_quality data by state and month and calculating the average AQI for all cities within a state
state_monthly_avg_aqi = aqi_df.groupby(['state_id','YearMonth']).agg({'AQI':'mean'}).reset_index()

state_monthly_avg_aqi['AQI'] = state_monthly_avg_aqi['AQI'].round(2)

state_monthly_avg_aqi.head(10)

  state_id YearMonth    AQI
0       AK   2021-01  58.83
1       AK   2021-02  42.55
2       AK   2021-03  29.00
3       AK   2021-04  31.73
4       AK   2021-05  24.91
5       AK   2021-06  21.24
6       AK   2021-07  29.88
7       AK   2021-08  19.59
8       AK   2021-09  18.37
9       AK   2021-10  26.32

In [41]:
#adding category column based on the AQI average value
bins = [0, 50, 100, 200, 350, 600]
labels = ['Good', 'Moderate', 'Unhealthy', 'Very Unhealthy', 'Hazardous']
state_monthly_avg_aqi['category'] = pd.cut(state_monthly_avg_aqi['AQI'], bins=bins, labels=labels, right =False)

state_monthly_avg_aqi.head(10)

  state_id YearMonth    AQI  category
0       AK   2021-01  58.83  Moderate
1       AK   2021-02  42.55      Good
2       AK   2021-03  29.00      Good
3       AK   2021-04  31.73      Good
4       AK   2021-05  24.91      Good
5       AK   2021-06  21.24      Good
6       AK   2021-07  29.88      Good
7       AK   2021-08  19.59      Good
8       AK   2021-09  18.37      Good
9       AK   2021-10  26.32      Good

In [43]:
state_monthly_avg_aqi.category.value_counts()

category
Good              536
Moderate           85
Unhealthy           0
Very Unhealthy      0
Hazardous           0
Name: count, dtype: int64

In [42]:
state_monthly_avg_aqi.shape

(621, 4)

In [4]:
natural_gas_consmp_df = pd.read_csv('static/Resources/Natural_Gas_Consumption_Data.csv')
natural_gas_consmp_df.head()

,year,month,duoarea,area-name,product,product-name,process,process-name,series,series-description,value,units
0,2014,1,SFL,FLORIDA,EPG0,Natural Gas,VCS,Commercial Consumption,N3020FL2,Natural Gas Deliveries to Commercial Consumers...,6605.0,MMCF
1,2014,1,SNH,USA-NH,EPG0,Natural Gas,VCS,Commercial Consumption,N3020NH2,Natural Gas Deliveries to Commercial Consumers...,1691.0,MMCF
2,2014,1,SOR,USA-OR,EPG0,Natural Gas,VCS,Commercial Consumption,N3020OR2,Natural Gas Deliveries to Commercial Consumers...,4711.0,MMCF
3,2014,1,SDE,USA-DE,EPG0,Natural Gas,VCS,Commercial Consumption,N3020DE2,Natural Gas Deliveries to Commercial Consumers...,2128.0,MMCF
4,2014,1,SAZ,USA-AZ,EPG0,Natural Gas,VCS,Commercial Consumption,N3020AZ2,Natural Gas Deliveries to Commercial Consumers...,3915.0,MMCF

In [5]:
natural_gas_consmp_df.shape

(37994, 12)

In [6]:
# Filtering the natural_gas_consmp_df for year =2021 and the process column values of VCS (commerical consumption) and VRS (Residential consumption)
#natural_gas_consmp_df = natural_gas_consmp_df[(natural_gas_consmp_df['year']==2021) & (natural_gas_consmp_df['process'].isin(['VCS','VRS']))]

natural_gas_consmp_df = natural_gas_consmp_df[(natural_gas_consmp_df['year']==2021)]

natural_gas_consmp_df.shape

(3768, 12)

In [7]:
#To reset the row index of our dataframe here we use the reset_index()
natural_gas_consmp_df.reset_index(drop=True, inplace=True)

natural_gas_consmp_df.head()

,year,month,duoarea,area-name,product,product-name,process,process-name,series,series-description,value,units
0,2021,1,SNJ,USA-NJ,EPG0,Natural Gas,VCS,Commercial Consumption,N3020NJ2,Natural Gas Deliveries to Commercial Consumers...,25662.0,MMCF
1,2021,1,SOR,USA-OR,EPG0,Natural Gas,VCS,Commercial Consumption,N3020OR2,Natural Gas Deliveries to Commercial Consumers...,4019.0,MMCF
2,2021,1,SDE,USA-DE,EPG0,Natural Gas,VCS,Commercial Consumption,N3020DE2,Natural Gas Deliveries to Commercial Consumers...,1681.0,MMCF
3,2021,1,SNM,USA-NM,EPG0,Natural Gas,VCS,Commercial Consumption,N3020NM2,Natural Gas Deliveries to Commercial Consumers...,4219.0,MMCF
4,2021,1,SID,USA-ID,EPG0,Natural Gas,VCS,Commercial Consumption,N3020ID2,Natural Gas Deliveries to Commercial Consumers...,3065.0,MMCF

In [8]:
aqi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166633 entries, 0 to 166632
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Date                       166633 non-null  object
 1   Unnamed: 0                 166633 non-null  int64
 2   CBSA Code                  166633 non-null  int64
 3   AQI                        166633 non-null  int64
 4   Category                   166633 non-null  object
 5   Defining Parameter         166633 non-null  object
 6   Number of Sites Reporting  166633 non-null  int64
 7   city_ascii                 166633 non-null  object
 8   state_id                   166633 non-null  object
 9   state_name                 166633 non-null  object
 10  lat                        166633 non-null  float64
 11  lng                        166633 non-null  float64
 12  population                 166633 non-null  float64
 13  density                    166633 non-null  float64
 14  timezone                   166633 non-null  object
dtypes: float64(4), int64(4), object(7)
memory usage: 19.1+ MB

In [9]:
natural_gas_consmp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3768 entries, 0 to 3767
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                3768 non-null   int64
 1   month               3768 non-null   int64
 2   duoarea             3768 non-null   object
 3   area-name           3768 non-null   object
 4   product             3768 non-null   object
 5   product-name        3768 non-null   object
 6   process             3768 non-null   object
 7   process-name        3768 non-null   object
 8   series              3768 non-null   object
 9   series-description  3768 non-null   object
 10  value               3729 non-null   float64
 11  units               3768 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 353.4+ KB

In [ ]:
#aggregating air_quality data by state and calculating the average AQI for all cities within a state
air_quality_state = aqi_df.groupby('state_id').agg({'AQI':'mean'}).reset_index()

### Data Cleaning 
- Removing unwanted columns
- Reorganizing/Renaming the columns
- Checking for Null values
- Checking the datatypes of our data Frames

In [10]:
aqi_df.columns

Index(['Date', 'Unnamed: 0', 'CBSA Code', 'AQI', 'Category',
       'Defining Parameter', 'Number of Sites Reporting', 'city_ascii',
       'state_id', 'state_name', 'lat', 'lng', 'population', 'density',
       'timezone'],
      dtype='object')

In [12]:
# Removing the unwanted columns of aqi_df into and storing it into new dataframe
cleaned_aqi_df = aqi_df[['Date','AQI','Category','Defining Parameter','state_id','lat','lng','population','density']]

cleaned_aqi_df.head()

,Date,AQI,Category,Defining Parameter,state_id,lat,lng,population,density
0,2021-01-01,43,Good,PM2.5,SD,45.4649,-98.4686,28315.0,661.0
1,2021-01-02,35,Good,PM2.5,SD,45.4649,-98.4686,28315.0,661.0
2,2021-01-03,55,Moderate,PM2.5,SD,45.4649,-98.4686,28315.0,661.0
3,2021-01-04,7,Good,PM2.5,SD,45.4649,-98.4686,28315.0,661.0
4,2021-01-05,12,Good,PM2.5,SD,45.4649,-98.4686,28315.0,661.0

In [13]:
natural_gas_consmp_df.columns

Index(['year', 'month', 'duoarea', 'area-name', 'product', 'product-name',
       'process', 'process-name', 'series', 'series-description', 'value',
       'units'],
      dtype='object')

In [22]:
# Removing the unwanted columns of natural_gas_consmp_df into and storing it into new dataframe
cleaned_natural_gas_consmp_df = natural_gas_consmp_df[['year','month','duoarea','product-name','process-name','value','units']]
cleaned_natural_gas_consmp_df.head()

   year  month duoarea product-name            process-name    value units
0  2021      1     SNJ  Natural Gas  Commercial Consumption  25662.0  MMCF
1  2021      1     SOR  Natural Gas  Commercial Consumption   4019.0  MMCF
2  2021      1     SDE  Natural Gas  Commercial Consumption   1681.0  MMCF
3  2021      1     SNM  Natural Gas  Commercial Consumption   4219.0  MMCF
4  2021      1     SID  Natural Gas  Commercial Consumption   3065.0  MMCF

In [23]:
#Removing S letter from our duoarea column values to get the state abbrevations 
cleaned_natural_gas_consmp_df.loc[:, 'duoarea'] = cleaned_natural_gas_consmp_df['duoarea'].str.lstrip('S')

cleaned_natural_gas_consmp_df.head()

   year  month duoarea product-name            process-name    value units
0  2021      1      NJ  Natural Gas  Commercial Consumption  25662.0  MMCF
1  2021      1      OR  Natural Gas  Commercial Consumption   4019.0  MMCF
2  2021      1      DE  Natural Gas  Commercial Consumption   1681.0  MMCF
3  2021      1      NM  Natural Gas  Commercial Consumption   4219.0  MMCF
4  2021      1      ID  Natural Gas  Commercial Consumption   3065.0  MMCF

In [26]:
#Renaming the duoarea column name to state 
cleaned_natural_gas_consmp_df = cleaned_natural_gas_consmp_df.rename(columns={'duoarea':'state'})

cleaned_natural_gas_consmp_df.head()

   year  month state product-name            process-name    value units
0  2021      1    NJ  Natural Gas  Commercial Consumption  25662.0  MMCF
1  2021      1    OR  Natural Gas  Commercial Consumption   4019.0  MMCF
2  2021      1    DE  Natural Gas  Commercial Consumption   1681.0  MMCF
3  2021      1    NM  Natural Gas  Commercial Consumption   4219.0  MMCF
4  2021      1    ID  Natural Gas  Commercial Consumption   3065.0  MMCF

In [27]:
cleaned_aqi_df = cleaned_aqi_df.rename(columns={'state_id':'state'})

cleaned_aqi_df.head()

,Date,AQI,Category,Defining Parameter,state,lat,lng,population,density
0,2021-01-01,43,Good,PM2.5,SD,45.4649,-98.4686,28315.0,661.0
1,2021-01-02,35,Good,PM2.5,SD,45.4649,-98.4686,28315.0,661.0
2,2021-01-03,55,Moderate,PM2.5,SD,45.4649,-98.4686,28315.0,661.0
3,2021-01-04,7,Good,PM2.5,SD,45.4649,-98.4686,28315.0,661.0
4,2021-01-05,12,Good,PM2.5,SD,45.4649,-98.4686,28315.0,661.0

In [28]:
#checking for null values in each column of cleaned_aqi_df
cleaned_aqi_df.isnull().sum()

Date                  0
AQI                   0
Category              0
Defining Parameter    0
state                 0
lat                   0
lng                   0
population            0
density               0
dtype: int64

In [29]:
#checking for null values in each column of cleaned_natural_gas_consmp_df
cleaned_natural_gas_consmp_df.isnull().sum()

year            0
month           0
state           0
product-name    0
process-name    0
value           0
units           0
dtype: int64

In [30]:
#Checking the datatypes of each column in cleaned_aqi_df
cleaned_aqi_df.dtypes

Date                   object
AQI                     int64
Category               object
Defining Parameter     object
state                  object
lat                   float64
lng                   float64
population            float64
density               float64
dtype: object

In [31]:
#Checking the datatypes of each column in cleaned_natural_gas_consmp_df
cleaned_natural_gas_consmp_df.dtypes

year              int64
month             int64
state            object
product-name     object
process-name     object
value           float64
units            object
dtype: object

In [32]:
#Export the cleaned Dataframe as CSV files
cleaned_aqi_df.to_csv("static/Resources/cleaned_AQI.csv", index=False)
cleaned_natural_gas_consmp_df.to_csv("static/Resources/cleaned_Natural_Gas_Consumption_Data.csv", index=False)

: